* {
box-sizing: border-box;
}

body {
margin: 0;
font-family: Arial;
background-image: url("../images/backgroundimage.jpeg");
background-attachment: fixed;
background-position: center;
}

.header {
text-align: center;
padding: 32px 0;
}

header {
    background-color: lightgray;
    padding: 20em;
    margin-bottom: 2.5em;
}
header h2 {
font-size: 600%;
text-align: center;
}
header h2 a {
text-decoration: none;
color: white;
}
header h3 {
font-size: 450%;
text-align: center;
color: white;
}

.row {
display: flex;
flex-wrap: wrap;
padding: 0 4px;
background-color: rgba(0, 0, 0, .9);

margin: 5em, 0;
}

/* Create four equal columns that sits next to each other */
.column {
flex: 25%;
max-width: 25%;
padding: 0 4px;
justify-content: space-between;
align-content: space-between;
}

.column img {
max-width: 400x;
width: 100%;
margin-top: 8px;
vertical-align: middle;
margin: 2em .5em 1em;
border-radius: 1em;
}

footer {
    margin-top: 3em;
    background-color: lightgray;
    padding: 1em 0;
}

footer p {
    font-weight: bold;
    font-size: 120%;
    text-align: center;
    color: white;
    text-shadow: 1px 1px black;
}

@media (max-width: 1250px) {
    header {
        padding: 15em;
    }
    header h2 {
        font-size: 300%;
    }
    header h3 {
        font-size: 200%;
    }
    }

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
.column {
    flex: 50%;
    max-width: 50%;
    }
header {
    padding: 10em;
}
header h2 {
    font-size: 250%;
}
header h3 {
    font-size: 150%;
}
}
